$h1_size: 7em;
$matteblack: #1D1F1E;
$gray: #4b4f4d;
$white: #ffffff;
$black: #000;
$sky: #722f2f;//original-yellow#e9ffba;
html{
   height: 100%;
   body{
      min-width: 100%; 
      min-height: 100%;
      background: url('../vendor/images/jackets.jpg')no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;

      //background-color: $sky;
      margin: 0;
      .tab-menu{
           background-color: $matteblack;
           position: fixed;
           z-index: 5; 
           // Menu, always on top
           width: 100%;
           top: 0em;
           ul{ 
                margin-bottom: 0px;
                text-align: center;
              li{
                 border-bottom: 2px solid $matteblack;
                 display: inline-block;
                 a{
                     display: inline-block;
                     padding: 1em 1.3em;
                     color: $white;
                     text-transform: uppercase;
                     font-size: 1em;
                }

                h3{
                   font-size: 1.3em;
                }
               }
              li:hover{
                 // background-color: lighten($matteblack, 10%);
                border-bottom: 2px solid lighten($sky, 20%);
                cursor: pointer;
                a{
                  color: lighten($sky, 20%);
                  text-decoration: none;
                   
                }
              }
            }
      }
      .contain-wrapper{
        background-color: transparentize($sky, 0.3);
        width: 100%;
        margin-left: 0em;
        margin-right: 0em;
        #info{
          margin-top: 20em;
          background-color: transparentize($black, 0.3);
            //display: none;
            h1{
              text-align: center;
              color: $white;
            }
         }
         #cv{
            margin-top: 20em;
            width: 100%;
          background-color: transparentize($white, 0.3);
          h1{
            text-align: center;
            color: $black;
          }
         }
         #portfolio{
            margin-top: 20em;
            width: 100%;
          background-color: transparentize($sky, 0.3);
          h1{
            text-align: center;
            color: $black;
          }
         }
         #intro{
            margin-top: 10em;
            //background-color: transparentize(darken($sky, 10%), 0.2);
            text-align: center;
            padding:1em;
            height: 10em;
            width: 38.2%;
            margin-left: -59.2vw;
            height: 100%;
            //border: 1px solid $black;
            //border-radius: 5%;
            h2{
              color: #34c0ef;//$white;
              text-align: center;
            }
            #intro-text{
              text-align: justify;
              color: $white;
              a{
                font-weight:bolder;
                color: #34c0ef;
              }
            } 
         }
         .content-row{
            .content-column{
               background-color:transparentize($white, 0.2);
               height: 250px !important;
               margin: 1px;
               height:50px; 
            }
         }
         //margin: 4em;
         h1{
            //background-color: transparentize(white, 0.7);
            padding: 0.7em;
            text-align: center;
            font-size: $h1_size;
            font-family: helvetica;
            //color: $matteblack;
            font-weight: 100;
            font-variant: small-caps;
            //-webkit-animation-name: fading; //Chrome, Safari, Opera 
            //-webkit-animation-duration: 10s; // Chrome, Safari, Opera 
            //animation-name: fading;
            //animation-duration: 10s;
            }
    
            // Chrome, Safari, Opera
            @-webkit-keyframes fading {
                0%   {color: transparentize($matteblack, 1);}
                10%   {color: transparentize($matteblack, 0.9);}
                20%   {color: transparentize($matteblack, 0.8);}
                30%  {color: transparentize($matteblack, 0.7);}
                40%  {color: transparentize($matteblack, 0.6);}
                50%   {color: transparentize($matteblack, 0.5);}
                60%   {color: transparentize($matteblack, 0.4);}
                70%   {color: transparentize($matteblack, 0.3);}
                80%   {color: transparentize($matteblack, 0.2);}
                90%   {color: transparentize($matteblack, 0.1);}
                100% {color: transparentize($matteblack, 0);}
            }

            //
            @keyframes fading {
                0%   {color: transparentize($matteblack, 1);}
                10%   {color: transparentize($matteblack, 0.9);}
                20%   {color: transparentize($matteblack, 0.8);}
                30%  {color: transparentize($matteblack, 0.7);}
                40%  {color: transparentize($matteblack, 0.6);}
                50%   {color: transparentize($matteblack, 0.5);}
                60%   {color: transparentize($matteblack, 0.4);}
                70%   {color: transparentize($matteblack, 0.3);}
                80%   {color: transparentize($matteblack, 0.2);}
                90%   {color: transparentize($matteblack, 0.1);}
                100% {color: transparentize($matteblack, 0);}
            }
         p{
            color: #fff;
            font-family: Garamond;
            font-weight: 100;
         }
      }
   }
}