@import "fonts";
$josefin: "Josefin sans";
$raleway: "Raleway";
$h1_size: 7em;
$matteblack: #1D1F1E;
$gray: #4b4f4d;
$white: #ffffff;
$black: #000;
$sky: #E0052B;//tile#722f2f;//original-yellow#e9ffba;
html{
   height: 100%;
   body{
      min-width: 100%;
      min-height: 100%;
      background: $white;
      //url('../vendor/images/jackets.jpg')no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;

      //background-color: $sky;
      margin: 0;
      .tab-menu{
           background-color: $matteblack;
           position: fixed;
           z-index: 5;
           // Menu, always on top
           width: 100%;
           top: 0em;
           ul{
                margin-bottom: 0px;
                text-align: center;
              li{
                 border-bottom: 2px solid $matteblack;
                 display: inline-block;
                 a{
                    font-family: $raleway, sans-serif;
                     display: inline-block;
                     padding: 1em 1.3em;
                     color: $white;
                     text-transform: uppercase;
                     font-size: 1em;
                }

                h3{
                   font-size: 1.3em;
                }
               }
              li:hover{
                //background-color: darken($matteblack, 5%);
                transition: border-bottom 0.4s ease-out;
                border-bottom: 2px solid lighten($sky, 20%);
                cursor: pointer;
                a{
                  transition: color 0.4s ease;
                  color: lighten($sky, 20%);
                  text-decoration: none;

                }
              }
            }
      }
      #maincontent.contain-wrapper{
        // get red filter background-color: transparentize($sky, 0.3);
        width: 100%;
        margin-left: 0em;
        margin-right: 0em;
        padding: 0em;
        img{
          width:100%;
          height:90%;
        }
        #info{
          margin-top: 20em;
          background-color: $black;
          text-align: right;
            //display: none;
            h1{
              text-align: right;
              color: $white;
            }
         }
         #cv{
          margin-top: 5em;
          width: 100%;
          background-color: $matteblack;//transparentize($white, 0.3);
          h1{
            text-align: left;
            color: lighten($sky, 20%);
          }
          .cv{
            margin-top: 5em;
            float: right;
            h4{
              text-transform: uppercase !important;
              font-family: $raleway;
              color: $white;
              strong{
                color:lighten($sky, 20%);
                background-color:$matteblack;
              }
            }
            li{
              color: $white;
              font-family: $raleway;
              list-style-type: none;
            }
          }
         }
         #portfolio{
            margin-top: 20em;
            width: 100%;
            background-color: transparentize($sky, 0.3);
          h1{
            text-align: center;
            color: $black;
          } 
         }
         #intro{
            margin-top: 2em;
            //background-color: transparentize(darken($sky, 10%), 0.2);
            text-align: center;
            padding:1em;
            height: 10em;
            width: 100%;
            //margin-left: -59.2vw;
            height: 100%;
            //border: 1px solid $black;
            //border-radius: 5%;
            .portrait{
               background-color: $matteblack;
               border-radius:50%;
               margin: 1em;
               width: 250px;
               height: 250px;
               float: right;
               transform: rotate(360deg);
            }
            h2{
              font-size: 4em;
              text-transform: uppercase;
              font-weight: 100;
              color: $matteblack;//$white;
              font-family: $josefin, sans-serif;
              text-align: center;
            }
            #intro-text{
              padding: 1em 15em 2em 15em;
              font-size: 1.2em;
              font-weight: 100;
              text-align: justify;
              color: $sky;
              a{
                font-weight:bolder;
                color: #34c0ef;
              }
            }
         }
         .content-row{
            .content-column{
               background-color:transparentize($white, 0.2);
               //height: 250px !important;
               margin: 1px;
               //height:50px;
            }
         }
         //margin: 4em;
         h1{
            //background-color: transparentize(white, 0.7);
            padding: 0.7em;
            text-align: center;
            font-size: $h1_size;
            font-family: helvetica;
            //color: $matteblack;
            font-weight: 100;
            font-variant: small-caps;
            //-webkit-animation-name: fading; //Chrome, Safari, Opera
            //-webkit-animation-duration: 10s; // Chrome, Safari, Opera
            //animation-name: fading;
            //animation-duration: 10s;
            }

            // Chrome, Safari, Opera
            @-webkit-keyframes fading {
                0%   {color: transparentize($matteblack, 1);}
                10%   {color: transparentize($matteblack, 0.9);}
                20%   {color: transparentize($matteblack, 0.8);}
                30%  {color: transparentize($matteblack, 0.7);}
                40%  {color: transparentize($matteblack, 0.6);}
                50%   {color: transparentize($matteblack, 0.5);}
                60%   {color: transparentize($matteblack, 0.4);}
                70%   {color: transparentize($matteblack, 0.3);}
                80%   {color: transparentize($matteblack, 0.2);}
                90%   {color: transparentize($matteblack, 0.1);}
                100% {color: transparentize($matteblack, 0);}
            }

            //
            @keyframes fading {
                0%   {color: transparentize($matteblack, 1);}
                10%   {color: transparentize($matteblack, 0.9);}
                20%   {color: transparentize($matteblack, 0.8);}
                30%  {color: transparentize($matteblack, 0.7);}
                40%  {color: transparentize($matteblack, 0.6);}
                50%   {color: transparentize($matteblack, 0.5);}
                60%   {color: transparentize($matteblack, 0.4);}
                70%   {color: transparentize($matteblack, 0.3);}
                80%   {color: transparentize($matteblack, 0.2);}
                90%   {color: transparentize($matteblack, 0.1);}
                100% {color: transparentize($matteblack, 0);}
            }
         p{
            color: #fff;
            font-family: $raleway;
            font-weight: 100;
         }
      }
   }
}
