@import "fonts";
@import "projects";

$josefin: "Josefin sans", sans-serif;
$raleway: "Raleway";
$archD: "Architects Daughter";
$weto-font: "Arapey";
$project-font: $josefin;
$lightgray: #e0e0e0;
$h1_size: 7em;
$matteblack: #1D1F1E;
$gray: #4b4f4d;
$white: #ffffff;
$black: #000;
$inc-blue: #4D5A6A;
$sky: #E0052B;//tile#722f2f;//original-yellow#e9ffba;
html{
   height: 100%;
   width:100%;
   body{
      min-width: 100%;
      min-height: 100%;
      background: $white;
      //url('../vendor/images/jackets.jpg')no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;

      //background-color: $sky;
      margin: 0;
      .tab-menu{
           background-color: $matteblack;
           position: fixed;
           z-index: 5;
           // Menu, always on top
           width: 100%;
           top: 0em;
           ul{
                margin-bottom: 0px;
                text-align: center;
              li{
                 border-bottom: 2px solid $matteblack;
                 display: inline-block;
                 a{
                    font-family: $raleway, sans-serif;
                     display: inline-block;
                     padding: 1em 1.3em;
                     color: $white;
                     text-transform: uppercase;
                     font-size: 1em;
                }

                h3{
                   font-size: 1.3em;
                }
               }
              li:hover{
                //background-color: darken($matteblack, 5%);
                transition: border-bottom 0.4s ease-out;
                border-bottom: 2px solid lighten($sky, 20%);
                cursor: pointer;
                a{
                  transition: color 0.4s ease;
                  color: lighten($sky, 20%);
                  text-decoration: none;

                }
              }
            }
      }
  #maincontent.contain-wrapper{
    float: none;
    margin: 0px;
    padding: 0px;
       #intro-pic{
          width:100%;
          height:90%;
        }
       #intro{
            margin-top: 2em;
            //background-color: transparentize(darken($sky, 10%), 0.2);
            text-align: center;
            padding:1em;
            height: 10em;
            width: 100%;
            height: 100%;
            h2{
              font-size: 4em;
              text-transform: uppercase;
              font-weight: 100;
              color: $matteblack;//$white;
              font-family: $raleway, sans-serif;
              text-align: center;
            }
            #intro-text{
              padding: 1em 15em 2em 15em;
              font-size: 1.2em;
              font-weight: 100;
              text-align: justify;
              color: $sky;
              a{
                font-weight: bolder;
                color: #34c0ef;
              }
            }
         }
    .content-row{
        // get red filter background-color: transparentize($sky, 0.3);
        width: 100%;
        margin-left: 0em;
        margin-right: 0em;
        padding: 0em;
        #info{
          margin-top: 2em;
          background-color: $white;
          text-align: right;
            //display: none;
            h1{
              //right: 3em;
              font-family: $raleway, sans-serif;
              text-align: right;
              color: $matteblack;
            }
         }
         #cv{
          margin-top: 5em;
          padding-bottom: 2em;
          width: 100%;
          background-color: $matteblack;//transparentize($white, 0.3);
          h1{
            text-align: left;
            color: lighten($sky, 20%);
            font-family: $raleway, sans-serif;
            font-weight: 100;
          }
          .cv-list{
            margin-top: 5em;
            float: right;
            h4{
              text-transform: uppercase !important;
              font-family: $raleway;
              font-weight: 100;
              color: $white;
              span{
                color:lighten($sky, 20%);
                background-color:$matteblack;
              }
            }
            li{
              color: $white;
              font-family: $raleway;
              list-style-type: none;
              span{
                font-weight: bolder;
              }
              a span{
                color:lighten($sky, 20%);
              }
              a:hover span{
                text-decoration: underline;
                -webkit-text-decoration-color: lighten($sky, 20%);
                -moz-text-decoration-color: lighten($sky, 20%);  /* vendor prefix not required as of V36 */
                text-decoration-color: lighten($sky, 20%);
              }
              a{
                span.more-info_portfolio{
                  color: $inc-blue;
                  font-style: italic;
                  text-decoration: none;
                  font-weight: 100;
                }
                span.more-info_portfolio:hover{
                  text-decoration-color: $inc-blue;
                }
              }
            }
          }
          #cv-skills{
            padding:2em 0em;
            h2{
              text-transform: uppercase !important;
              font-family: $raleway, sans-serif;
              font-weight: 100;
              color: $white;
              padding-bottom: 1em;
              span{
                color:lighten($sky, 20%);
                background-color:$matteblack;
              }
            }
            #skill-chart{
              svg#skill-scale{
                
                text{
                  cursor: default;
                }
                pointer-events: all !important;
              }
              svg{
                pointer-events: all !important;

               // width: 40px;
                rect{
                  cursor: pointer;
                }
                .skill-rect:hover{
                  opacity: 0.5;  
                  pointer-events: all !important;
                }
                text{
                  cursor: pointer;
                  font-family: $raleway, sans-serif;
                }
              }
              #skill-java{
                cursor: pointer;
              }
            }
            #skill-info{
              margin-left: 3em;
              #skill-info_field{
                //text-align: left;
                color: lighten($inc-blue, 10%);
                font-style: italic;
              }
            }
          }
         }
        #portfolio{
            margin-top: 1em;
            margin-bottom: 3em;
            width: 100%;
            background-color: $white;
          h1{
            text-align: center;
            color: lighten($sky, 20%);
            font-family: $raleway, sans-serif;
          } 
          #portfolio-content{
            padding-left:5em;
            .project-row{
               background: linear-gradient(right, $lightgray, $white 70%, $white);
               background: -moz-linear-gradient(right, $lightgray, $white 70%, $white);
               background: -webkit-linear-gradient(right, $lightgray, $white 80%, $white);
                margin: 2em;
                padding: 0.4em;
                //border: 1px solid darken($lightgray, 15%);
                //border-left: 0px;
                //border-radius: 8px;
                box-shadow: inset 0px 0px 36px 0px darken($lightgray, 10%);
              .project-description{
                padding: 2em;

                h5{
                  text-transform: uppercase;
                  font-weight: 300;
                  color: lighten($sky, 40%)
                }
                h3{
                  font-size: 2em;
                }
                .weto-header{
                  font-family: $weto-font, serif;
                }
                .tes-header{
                  font-family: $project-font;
                  color: #019DDB;
                }
                //background-color: transparentize($matteblack, 0.3);
                .project-info{
                  color: $matteblack;
                }
                .project-link_explore{
                  margin-top: 2em;
                 a{
                    color: lighten($sky, 20%);
                    font-weight: 300;
                  }
                }
              }
              .portfolio-element.col-md-7{
                padding: 0.5em 0em;
                .portfolio-thumbnail{
                  //border-left: 1px solid lighten($lightgray, 5%);
                  padding: 0.5em;
                  float: right;
                  //border-top: 1px solid gray;
                  //border-left: 1px solid gray;
                  height: 50%;
                  width: 90%;
                  cursor: pointer;
                }
                .portfolio-thumbnail:hover{

                }
                .portfolio-thumbnail.p-o-2{
                  //transform: rotate(15deg);
                }
                .portfolio-thumbnail.p-o-3{
                  //transform: rotate(5deg);
                }
              }
              // .portfolio-element.col-sm-6{
              //   .portfolio-thumbnail{
              //     float: left;
              //     height: 100%;
              //     width: 100%;
              //     box-shadow: 5px 5px 2px #888888;
              //     cursor: pointer;
              //   }
            }
          }
        }
            .content-column{
               background-color:transparentize($white, 0.2);
               //height: 250px !important;
               margin: 1px;
               //height:50px;
            }
   }
         //margin: 4em;
         h1{
            //background-color: transparentize(white, 0.7);
            padding: 0.7em;
            text-align: center;
            font-size: $h1_size;
            font-family: $josefin, sans-serif;
            //color: $matteblack;
            font-weight: 100;
            //-webkit-animation-name: fading; //Chrome, Safari, Opera
            text-transform: uppercase;
            -webkit-animation-name: fading; //Chrome, Safari, Opera
            //-webkit-animation-duration: 10s; // Chrome, Safari, Opera
            //animation-name: fading;
            //animation-duration: 10s;
          }

            // Chrome, Safari, Opera
            @-webkit-keyframes fading {
                0%   {color: transparentize($matteblack, 1);}
                10%   {color: transparentize($matteblack, 0.9);}
                20%   {color: transparentize($matteblack, 0.8);}
                30%  {color: transparentize($matteblack, 0.7);}
                40%  {color: transparentize($matteblack, 0.6);}
                50%   {color: transparentize($matteblack, 0.5);}
                60%   {color: transparentize($matteblack, 0.4);}
                70%   {color: transparentize($matteblack, 0.3);}
                80%   {color: transparentize($matteblack, 0.2);}
                90%   {color: transparentize($matteblack, 0.1);}
                100% {color: transparentize($matteblack, 0);}
            }

            //
            @keyframes fading {
                0%   {color: transparentize($matteblack, 1);}
                10%   {color: transparentize($matteblack, 0.9);}
                20%   {color: transparentize($matteblack, 0.8);}
                30%  {color: transparentize($matteblack, 0.7);}
                40%  {color: transparentize($matteblack, 0.6);}
                50%   {color: transparentize($matteblack, 0.5);}
                60%   {color: transparentize($matteblack, 0.4);}
                70%   {color: transparentize($matteblack, 0.3);}
                80%   {color: transparentize($matteblack, 0.2);}
                90%   {color: transparentize($matteblack, 0.1);}
                100% {color: transparentize($matteblack, 0);}
            }
         p{
            color: #fff;
            font-family: $raleway, sans-serif;
            font-weight: 100;
         }
      }
   }
}
.highlight-word{
  color: darken($lightgray, 15%) !important;//lighten($sky, 20%) !important;
  font-family: $raleway, sans-serif;
  font-weight: 100;
}
h5.highlight-word{

}