@import 'fonts';
$weto-logo: "Arapey", serif;
$gldr: 1.618;
$josefin: 'Josefin', sans-serif;
$h3-font: "Share", cursive;
$base: 100%;
$inc:#4D5A6A;
$fontsize: 1.6em;
$matteblack: #1D1F1E;
$crimson: "Crimson", serif;

$white: #ffffff;

a{
   text-decoration: none;
}
#projectcontent-wrapper{
   width: $base;
   height: $base;
   margin-top: 3em;
   margin-left: 0;
   h1{
      padding: 1em;
      padding-bottom:0.2em;
      text-align: center; 
      font-size: 6em;
      font-family: $weto-logo !important;
   }
   .project-info_row{
      margin-left: 5em;
      margin-right: 5em;
      padding-left: 10em;
      padding-right: 10em;
      margin-bottom: 5em;
      .prolog-row{
         padding-left: 1.2em;
         padding-right: 1.2em;

         font-size:$fontsize / ($gldr/2);
         font-weight: 100; 
         font-style: normal;
         text-align: center;

      }
      .prolog-row.prolog-row_description{
         font-size: $fontsize*0.9;
         text-align: center;
         font-style: italic;
         color: lighten($inc, 40%);
      }
   }
   .project-plaintext{
      margin: 3em;
      padding-left: 15em;
      padding-right: 15em; 
      h3{
         margin-left: 1.1em;
         font-family: $h3-font;
         font-weight: bold;
         text-transform: uppercase;
      }
      .plain-text{
         margin:1.5em;
         font-family: $crimson;
         font-size: 1.4em;
         color: $inc;
         text-align: justify;
         font-weight: 300;
         line-height: 200%;
      }
      .image-text{
         text-align: center;
         font-style: italic;
         padding: 0.2em;
         font-size: 1.1em;
         font-weight: 300;
         font-family: $josefin;
         margin-bottom: 3em;
      }
   }

   #weto-project-pic{
      width:100%;
   }
}

